.navbar{overflow: hidden;}
section{width:100%; float:left; color: #fff;}
.banner-section{background-image:url("https://besthqwallpapers.com/img/original/46611/gym-training-exercise-with-weight-bodybuilding-dumbbell.jpg"); background-size:cover; height: 380px; left: 0; position: absolute; top: 80px; background-position:0;}
.post-title-block{padding:100px 0;}
.post-title-block h1 {color: #fff; font-size: 85px; font-weight: bold; text-transform: capitalize;}
.post-title-block li{font-size:20px; color: #fff;}
.image-block{float:left; width:100%; margin-bottom:10px;}
.footer-link{float:left; width:100%; background:#222222; text-align:center; padding:30px;}
.footer-link a{color:#A9FD00; font-size:18px; text-transform:uppercase;}
body {
    /* background: url(https://images.unsplash.com/photo-1569482967086-d1ce839522b6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=403&q=80) no-repeat; */
    background-size: cover;
    background-color: #171c21;
}
a{
    font-size: 19px;

}
li{
    padding: 15px 30px;
}
.navbar-brand{
    font-size: xx-large;
    padding: 28px 30px;
    color: white;
    
}
/* .navbar-inverse{
    color: black;
} */